<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    
    <div class="user-request">
        <a class="page-link" href="/insult">READ INSULT HERE</a>
        <p>or</p>
        <form action="/insert" , method="POST">
            <label for="new-Insult">Insert new insult of Shakespeare</label>
            <textarea name="insult" id="" cols="30" rows="10" placeholder="Input format: Insult - name of the play"></textarea>
            <!-- <input type="text" name="" placeholder="insert new insult"> -->
            <button>INSERT THE INSULT</button>
        </form>
    </div>

</body>

</html>