<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <div class="user-request">
        <h1>Shakespearean insults</h2>
            <p>"
                <%= randomTexts %>
                    "</p>
            <a class="reload" onClick="window.location.reload()">Re-generate</a>
    </div>
    <a class="home" href="/">HOME</a>
</body>

</html>