<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <div class="user-request">
        <label>Express Calculator</label>
        <form action="/set" method="POST">
            <p>First number</p>
            <input type="number" name="num1">
            <p>Second number</p>
            <input type="number" name="num2">
            <select name="op" id="operator">
        <option value="1">ADD</option>
        <option value="2">SUBSTRACT</option>
        <option value="3">MULTIPLY</option>
        <option value="4">DIVIDE</option>
    </select>
            <button>CALCULATE</button>
        </form>
    </div>


</body>

</html>